# Virtual enviroment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python caching
.ipynb_checkpoints/

# Spark/Glue temporary files
spark-warehouse/
derby.log
metastore_db/
checkpoint/

# Logs
*.log

# VSCode
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# System
.DS_Store
Thumbs.db